* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightsteelblue;
}
.container{
    background-color: lightgreen;
    padding: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container > p + p{
    padding-top: 20px;
}